.bg-texture{
  background-color: #090a10;
opacity: 0.8;
background-image:  linear-gradient(#121212 1px, transparent 1px), linear-gradient(to right, #121212 1px, #090a10 1px);
background-size: 20px 20px;
}

.bg-texture-2{
  background-color: #090a10;
opacity: 1;
background-image:  linear-gradient(#121212 1px, transparent 1px), linear-gradient(to right, #121212 1px, #090a10 1px);
background-size: 20px 20px;
}