.bgCursoCard {
    background:
      radial-gradient(700px circle at 550px -100px, #3a4199, transparent 25%)
    }
  
.arrow{
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.shadow_section {
  box-shadow: 0px 0px 14px 3px #f3f3f388;
-webkit-box-shadow: 0px 0px 70px -25px #f3f3f388;
-moz-box-shadow: 0px 0px 14px 3px #f3f3f3;
}